body {
    margin:0px;
    height:100%;
    width:100%;
  }
  .fluid {
    float:left;
    width:25%;
    height:100%;
    background-color:#808080;
      overflow:hidden;
      z-index:-1
  }
  .fluid img {
    -webkit-animation:start 3s;
    -webkit-animation-iteration-count: infinite;
    position:relative;
  }
  @-webkit-keyframes start {
    0% { left:0; }
    50% { left:-50px; }
    100% { left:0px; }
  }